body {
    height: 100vh;
}

.loader {
    width: 30px;
    height: auto;
    margin-top: -6px;
    margin-left: 1rem;
    display: none;
}

.loader-show {
    display: inline-block !important;
}

/* Footer Styles */
section {
    padding: 60px 0;
    /* min-height: 100vh;*/
    margin-top: 7rem;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.contact-area {
    border-bottom: 1px solid #353c46;
}

.contact-content p {
    font-size: 15px;
    margin: 30px 0 60px;
    position: relative;
}

.contact-content p::after {
    background: #353c46;
    bottom: -30px;
    content: "";
    height: 1px;
    left: 50%;
    position: absolute;
    transform: translate(-50%);
    width: 80%;
}

.contact-content h6 {
    color: #8b9199;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 10px;
}

.contact-content span {
    color: #353c47;
    margin: 0 10px;
}

.contact-social {
    margin-top: 30px;
}

.contact-social>ul {
    display: inline-flex;
}

.contact-social ul li a {
    display: inline-block;
    margin: 0 10px;
    padding-top: 7px;
    transition: all 0.4s ease 0s;
}

.contact-social ul li a:hover {}

.contact-content img {
    max-width: 210px;
}

section,
footer {
    background: #1a1e25;
    color: #868c96;
}

footer p {
    padding: 40px 0;
    text-align: center;
}

footer img {
    width: 44px;
}

/* End Footer Styles */

p.card-text {
    height: 100px;
    margin: 1rem auto;
    overflow: hidden;
}

@media (min-width: 992px) {
    .col-lg-3 {
        width: 33% !important;
    }
}

/* Alert Styles */
.alert-container {
    text-align: center;
    background: dodgerblue;
    padding: 30vh 0 40vh 0;
    z-index: 100;
    width: 100%;
    position: fixed;
}

.alert-box {
    background-color: white;
    border-radius: 1rem;
    width: fit-content;
    margin: auto;
    padding: 2rem;
}

.key-form {
    margin: 0 0 2rem 0;
}

.key-form input {
    width: 50%;
    border: 2px solid black;
}

.notes {
    text-align: left;
}

.notes p {
    margin-bottom: 0px !important;
}

.navbar-brand img {
    width: 80px;
    height: auto;
}


/* Nav Styles */
.shrink .navbar {
    color: #fafafa;
    background: #00c6ff;
    background: linear-gradient(35deg, #00c6ff 10%, #0072ff 90%);
}